---
layout: main
---

{% for post in paginator.posts %}
  <article class="post">
    {% if post.image %}
      <div class="post-image">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{ site.baseurl }}/assets/img/{{ post.image }}" alt="{{ post.title }}">
        </a>
      </div>
    {% endif %}
    
    <div class="post-content">
      <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
      <span class="post-date">
        {{ post.date | date: '%Y, %b %d' }}&nbsp;&nbsp;—&nbsp;&nbsp;
        {% capture words %}{{ post.content | number_of_words }}{% endcapture %}
        {{ words | divided_by: 200 | plus: 1 }} minute read
      </span>
    </div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">« Anterior</a>
    {% endif %}

    <span class="page_number">{{ paginator.page }} de {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="next">Siguiente »</a>
    {% endif %}
  </div>
{% endif %}
